* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    text-align: center;
}

h1 a {
    font-family: 'Rubik Vinyl', cursive;
    font-size: xxx-large;
    color: black;
    padding: 30px 0px 30px;
    text-decoration: none;
}

nav {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.btn a:hover {
    background-color: rgb(77, 206, 77);
}

nav a {
    background-color: white;
    padding: 8px 8px 8px 8px;
    margin: 5px 10px 5px 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: x-large;
    border-radius: 10%;
    border: 2px solid;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.5);

}

.subtitle {
    display: flex;
    justify-content: end;
}

h2 {
    width: 100%;
    color: white;
    text-align: center;
    background-color: black;
}

main {
    border: solid 4px red;
}

.container-flex {
    display: flex;
    border: solid 2px blue;
}

.container-text2 {
    border: solid 2px green;
}

.bg {
    height: 100%;
    border: solid 2px yellow;
    position: absolute;
    opacity: 0.4;
    top: 0;
}

.container {
    width: 100%;
    border: solid 4px aqua;
    position: relative;
}

article div img {
    object-fit: cover;
    width: 100%;
    height: 90%;
}

.container-logo {
    width: 30%;
    height: 100vh;
    position: relative;
}

.logo {
    width: 90%;
    position: absolute;
}

.container-text {
    padding: 30px;
}

footer {
    text-align: center;
    background-color: rgba(66, 60, 60, 0.4);
}